<%- include("../partials/header") %>

    <div class="container my-5">
        <header class="jumbotron">
            <h1>Contact</h1>
        </header>

            <img src="profile.jpg" alt="">

            <h3 style="color:green; border-bottom: 1px black solid">Little bit about me</h3>

            <p><strong>Hi My name is Yuki Miyazawa, originally from Japan</strong></p>
            <p><strong>I love animals, traveling, and drinking as well</strong></p>
            <p><strong>I am excited to diving into MERN Stack development</strong></p>

            <h3 style="color:green; border-bottom: 1px black solid">I look forward to hearing from you!</h3>

            <div class="">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">

                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">

                <label for="comment">Comment</label>
                <textarea type="text" class="form-control" name="comment"></textarea>

                <button class="btn btn-success mt-2" type="submit">Send</button>

            </div>

    </div>

<%- include("../partials/footer") %>